[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rduinoiot"]
	path = Rduinoiot
	url = https://github.com/flavioleccese92/rduinoiot
[submodule "euroleaguer"]
	path = euroleaguer
	url = https://github.com/flavioleccese92/euroleaguer
